    body {
        font-family: 'Poppins', sans-serif;
    }
    
    h1 {
        font-size: 50px;
    }
    
    #nameColor {
        color: orange;
    }
    
    section {
        display: flex;
    }
    
    .half-weight {
        width: 50%;
        padding-left: 3%;
    }
    
    .half-weight img {
        width: 70%;
    }
    
    .button {
        text-decoration: none;
        padding: 10px 40px;
        background-image: linear-gradient(orange, tomato);
        color: #fff;
        font-weight: 800;
        border-radius: 5px;
    }